*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

a:focus, a:hover {
        color: #000;
        text-decoration: none;
    }

body{
   min-height: 100vh;
   overflow-x: hidden;
   font-family: "Open-Sans", sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 1170px;
}
.main{
    display: flex;
    justify-content: center;
    
}
.sidebar {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid lightgray;
    height: 100%;
}

ul {
    list-style: none;
    padding:0;
  }
.sidebar h5{
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
}
.sidebar li{
    padding: 5px;
    font-size: 12px;
}
.sidebar a{
    text-decoration: none;
    color: #333;
}

.sidebar a span{
    color:grey;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}
.navbar i{
    padding: 2px;
}
.navbar button {
    background-color: #fffefe;
    color: #a3a1a1;
    border: none;
    font-size: 20px;
    position: relative;
    width: 25px;
    height: 28px;
    margin: 1px;
}

.navbar button:hover {
    background: darkorange;
    color: #fff;
}
.content{
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
.products{
    display: flex;
    flex-wrap:wrap;
    
}
.item {
    padding: 20px;
    height: min-content;
    flex: 0 0 25%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

.products.active .item {
    flex: 0 0 33% !important;
}

.products.active .item .img img{
    width:223px;
}
.item img {
    width: 100%;
    display: block;
}
.page-number ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 20px;
    padding: 0px;
    float: none;
}
.page-number ul li{
    float: left;
}
.page-number ul li a {
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 6px;
    background-color: lightgray;
    color: #000;
    width: 45px;
    height: 25px;
    border-radius: 20px;
    font-size: 10px;
    text-align: center;
}
.page-number ul li a:hover{
    background-color: darkorange;
    color: #fff;
}

.page-number ul li a.pagination.active {
    background-color: red;
}

.productTitle {
    margin: 10px 0;
}

.discount {
    display: flex;
}

.discount .discountRate {
    display: inline-block;
}

.discount .discountRate span {
    display: flex;
    flex-direction: column;
    padding: 7px 12px;
    font-size: 16px;
    background-color: #d80000;
    border-radius: 3px;
    color: #fff;
    margin-right: 10px;
}

.discount .discountPrice {
    display: inline-block;
}

.discount .discountPrice del {
    display: block;
    color: #787878;
    line-height: 20px;
}

.discount .discountPrice b {
    display: block;
    font-size: 20px;
    line-height: 18px;  
}

.basket {
    background-color: #f0f0f0;
    margin: 10px 0;
    padding: 5px;
    border-radius: 3px;
}

.basket span {
    color: #00ac00;
}

.basket strong {
    font-size:20px;
    display:block;
}

.basket.none{
    display:none;
}

.fastShipping b {
    color: #00ac00;
}

a.page-link:focus {
    background: darkorange;
    color:#fff;
}

.page-number ul li a.page-link.punctuation {
    background: #fff;
    font-weight: 900;
}


